<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925543417083-tqonmsjh6j6hh5ons9g2hqekfnf70lre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925543417083-tqonmsjh6j6hh5ons9g2hqekfnf70lre</string>
	<key>API_KEY</key>
	<string>AIzaSyCrUQUjd7ooZ5AsTb56l6WWjTpzN7wywPs</string>
	<key>GCM_SENDER_ID</key>
	<string>925543417083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tistory.iospanda.PandaTalk</string>
	<key>PROJECT_ID</key>
	<string>pandatalk-d4ee8</string>
	<key>STORAGE_BUCKET</key>
	<string>pandatalk-d4ee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925543417083:ios:53484ab1227a345a60dc5e</string>
	<key>DATABASE_URL</key>
	<string>https://pandatalk-d4ee8.firebaseio.com</string>
</dict>
</plist>